/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable
*/
.popup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

* {
  user-select: none;
}

body {
  margin: 0;
  background: #111;
}

.carousel-page {
  height: 100%;
  width: 100%;
  position: absolute;
}

.popup {
  height: 100px;
  width: 100px;
  background: green;
}