@use "ext";

* {
	user-select: none;
}
body {
	margin: 0;
	background: #111;
}


// .roundabout-nav-wrap { /* Wrapper for the navigation bar */
// 	position: absolute;
// 	left: 0;
// 	right: 0;
// 	margin: auto;
// 	display: flex;
// 	justify-content: space-evenly;
// 	bottom: 0;
// 	height: 40px;
//    width: 25%;
//    background: orange;
// }